body {
    /* Establece la imagen de fondo */
    background-color: #D59F0F;
}


/* Estilos para el primer contenedor */
.container1 {
    background-color: #002B7A; 
    padding: 20px; 
    text-align: center;
}

.head1{
    color: white;
}

/* Estilos para el segundo contenedor */
.container2 {
    background-color: #002B7A; 
    padding: 30px;
    align-content: center;
    height: 1200px;
    width: 1500px;
    margin: auto;
}

.card{
    background-color: #D59F0F;
}


.card-img-top {
    height: 200px; 
    object-fit: cover; 
}


.card-body {
    min-height: 250px; 
}

.card-text{
    text-align: justify;
}

.btn{
    background-color:#002B7A;
    border:#002B7A;
}

.btn-primary{
  color:white;
}


/* Ajustes personalizados para el contenedor del carrusel */
.container3 .carousel {
    max-width: 600px; /* Establece un ancho máximo para el contenedor del carrusel */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
}

/* Estilo para las imágenes dentro del carrusel */
.carousel-item img {
    max-height: 600px;
    max-width: 100%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Ajusta automáticamente la altura proporcionalmente */
}
