/* styles.css */

/* Center images within carousel items */
.carousel-item img {
    display: block;
    margin: 0 auto;
}

/* Set maximum width for cards */
.card {
    max-width: 270px;
    margin: 0 auto;
}
.card-deck {
    display: flex;
    justify-content: center;
}
/* styles.css */

/* Set background color to Negro */
/* styles.css */

/* Set text color to black */
body {
    color: black;
}

/* Set background color to Oro */
body {
    background-color: rgb(189, 149, 0);
}

/* Set navbar background color to Azul */
.navbar {
    background-color: rgb(8, 36, 90);
}

/* Set footer background color to Negro */
.footer {
    background-color: rgb(0, 0, 0);
}

/* Set text color of footer to Oro */
.footer {
    color: rgb(189, 149, 0);
}
